@import '../../../sass/variable';
.bg-1 {
    @media(min-width: 1371px){
        background-image: url(../../../assets/img/home/bg.png);
    }
    @media(min-width: 769px) and (max-width: 1370px){
        background-image: url(../../../assets/img/home/home_1_1366x768.png);
    }
    @media(max-width: 768px){
        background-image: url(../../../assets/img/home/home_1_1280x720.png);
    }
}
.bg-2 {
    @media(min-width: 1371px){
        background-image: url(../../../assets/img/home/bg-2.png);
    }
    @media(min-width: 769px) and (max-width: 1370px){
        background-image: url(../../../assets/img/home/home_2_1366x768.png);
    }
    @media(max-width: 768px){
        background-image: url(../../../assets/img/home/home_2_1280x720.png);
    }
}
.container-home{
    width: 100%;
    background-size: cover !important;
    background-position: top !important;
    padding: 5%;
    padding-left: 10%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10%;
    //height: 90vh;
    height: calc(100vh - 76px);
    background-position-y: 30% !important;

    /* @media(min-width: 1371px){
        background-image: url(../../../assets/img/home/bg.png);
    }
    @media(min-width: 769px) and (max-width: 1370px){
        background-image: url(../../../assets/img/home/home_1_1366x768.png);
    } */
    @media(max-width: 768px){
        //background-image: url(../../../assets/img/home/home_1_1280x720.png);
        //height: 91vh;
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5% 10%;
        >div{
            margin-bottom: 15%;
        }
    }
    h1{
        text-shadow: 2px 2px 17px #000000;
        font-size: 45px;
        color: $white;
        text-align: left;
        @media(max-width:4000px) and (min-width:1800px){
            font-size: 68px;
        }
        @media(max-width: 768px){
            font-size: 36px;
        }
    }
    h2{
        text-shadow: 2px 2px 8px #222, 2px 2px 8px #222, 2px 2px 8px #222, 2px 2px 8px #222, 2px 2px 8px #222;
        font-size: 28px;
        color: $white;
        padding: 25px 0px;
        text-align: left;
        @media(max-width:4000px) and (min-width:1800px){
            font-size: 60px;
        }
        @media(max-width: 768px){
            font-size: 26px;
        }
    }
    h3{
        text-shadow: 2px 2px 8px #222, 2px 2px 8px #222, 2px 2px 8px #222;
        font-size: 22px;
        color: $white;
        line-height: 1.2;
        text-align: left;
        padding-bottom: 15px;
        @media(max-width:4000px) and (min-width:1800px){
            font-size: 42px;
        }
        @media(max-width: 768px){
            font-size: 20px;
            br{
                display: none;
            }
        }
    }
    button{
        width: 20%;
        font-size: 17px;
        margin-top: 100px;
        margin-bottom: 25px;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        @media(max-width:4000px) and (min-width:1800px){
            width: 15%;
            font-size: 30px;
        }

        @media(max-width: 768px){
            width: 50%;
            bottom: 0;
            position: relative;
            padding: 13px;
            font-size: 18px;
        }
    }
    
}

