<app-preloader [ngClass]="status ? 'show' : 'hide'"></app-preloader>
<app-header></app-header>

<div class="bg-1 container-home" id="container-home" *ngIf="!play">
    <div>
        <h1 class="Gotham-ligth">¡Hola</h1>
        <h1 class="Gotham-notbold">{{name}}!</h1>
        <h2 class="Gotham-ligth-notbold">
            Tu amigo secreto quiere<br> saber mas de ti.
        </h2>

        <h3 class="Gotham-ligth-notbold">
            ¡Contesta el cuestionario y ayúdalo a <br>elegir el regalo que hace match contigo! 
        </h3>
        <!-- <button *ngIf="showButtomNextForm && state != 'not' " class="btn-primary Gotham" (click)="go()">¡Empezar!</button> -->
    </div>
</div>
<div class="bg-2 container-home" id="container-home" *ngIf="play">
    <div>
        <h1 class="Gotham-ligth">Empecemos<br>con la ronda de<br>preguntas!</h1>
        <!-- <h1 class="Gotham-notbold">{{name}}!</h1> -->
        <h2 class="Gotham-ligth-notbold">
            Descríbete lo mejor que<br>puedas y ayuda a tu amigo<br>secreto a saber más de ti..
        </h2>

        <h3 class="Gotham-ligth-notbold">
            ¡Cuéntanos y exagera! 
        </h3>
        <button *ngIf="showButtomNextForm && state != 'not' " class="btn-primary Gotham" (click)="go()">¡Empezar!</button>

    </div>
    
</div>
