<app-preloader [ngClass]="status ? 'show' : 'hide'"></app-preloader>

<div class="container">
    <div class="container-logo">
        <img src="../../../assets/img/header/logo.svg" alt="Cubo Rojo">
    </div>

    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h3 class="Gotham">Llegó el amigo secreto a Cubo Rojo</h3>
            <h5 class="Gotham-ligth-notbold">¡Panel Administrador!</h5>
            <div class="container-form__group">
                <input 
                formControlName="email"
                class="Gotham-ligth" type="text" placeholder="Correo corporativo">

                <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div class="validate Gotham-ligth" *ngIf="f.email.errors && f.email.errors.required">Email es requerido.</div>
                    <div class="validate Gotham-ligth" *ngIf="f.email.errors && f.email.errors.email">Por favor ingresa un correo valido.</div>
                    <div class="validate Gotham-ligth"  *ngIf="f.email.errors.dominioemail">Dominio no valido</div>
                </div>
            </div>
            <div class="container-form__group">
                <input 
                formControlName="password"
                class="Gotham-ligth" type="password" placeholder="***************">
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <div class="validate Gotham-ligth" *ngIf="f.password.errors && f.password.errors.required" >Password es requerido.</div>
                </div>
            </div>
            
            <div class="container-form__group">
                <button class="btn-primary Gotham-ligth w-100">¡Ingresar!</button>
            </div>

        </form>
    </div>
</div>
