@import '../../../sass/variable';

.container-game{
    width: 100%;
    height: 91vh;
    //background-image: url(../../../assets/img/game/background2.png);
    background-size: cover !important;
    background-position: top !important;
    /* padding: 5%; */
    box-sizing: border-box;
    text-align: center;
    /* padding-bottom: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;

	@media(min-width: 1371px){
        background-image: url(../../../assets/img/game/background2.png);
    }
    @media(min-width: 769px) and (max-width: 1370px){
        background-image: url(../../../assets/img/game/background_2_1366x768.png);
    }
    @media(max-width: 768px){
        padding: 10%;
        background-image: url(../../../assets/img/game/background_2_1280x720.png);
    }
	&__roulette{
		position: relative;
		.txt-initial {
			margin-top: 24px;
			font-size: 50px;
			@media(max-width: 768px){
				margin-top: 15px;
				font-size: 35px;
			}
		}
	}
	&__date{
		h1{
			font-size: 44px;
			color: $white;
			text-align: left;
			    text-shadow: 2px 2px 20px #000000, 2px 2px 20px #000000, 2px 2px 20px #000000;

			@media(max-width:4000px) and (min-width:1800px){
				font-size: 68px;
				text-align: center;
			}
			@media(max-width: 768px){
				text-align: center;
				font-size: 30px;
			}
		}
		p{
			font-size: 28px;
			color: $white;
			padding-top: 20px;
			text-align: left;
			text-shadow: 2px 2px 17px #000000, 2px 2px 17px #000000, 2px 2px 17px #000000, 2px 2px 17px #000000, 2px 2px 17px #000000;
			@media(max-width:4000px) and (min-width:1800px){
				font-size: 45px;
				text-align: center;
			}
			@media(max-width: 768px){
				font-size: 23px;
				text-align: center;
			}
		}
	}
.main::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    background-image: url(../../../assets/img/game/roulette.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.slots {
    position: relative;
    overflow: hidden;
	height: 160px;
    font-size: 100px;
    padding: 43px 0px;
    box-sizing: border-box;
	position: absolute;
    z-index: 3;
	@media(max-width:4000px) and (min-width:1800px){
		height: 278px;
		font-size: 100px;
		padding: 100px 0px;
	}
	@media(max-width: 768px){
		height: 128px;
		padding: 45px 0px;
	}
}

.numbers {
    margin-top: 0;
    width: 470px;
    background-image: url(../../../assets/img/game/roulette.png);
	height: 330px;
    background-size: cover;
    background-position: center;
	display: flex;
    align-items: center;
    justify-content: center;
	@media(max-width:4000px) and (min-width:1800px){
		width: 750px;
		height: 410px;
	}
	@media(max-width: 768px){
		width: 310px;
		height: 215px;
	}
}
.number-wrapper{

}
input {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00;
  margin-left: 10px;
  margin-top: 0;
}

input:hover {
  cursor: pointer;
}

.button {
  float: left; 
}

/* Mixins */
@mixin spin {
	@-moz-keyframes spin /* Firefox */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@-webkit-keyframes spin /* Safari and Chrome */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@-ms-keyframes spin /* IE */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@-o-keyframes spin /* Opera */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@keyframes spin
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
}
@mixin animate($name, $duration: 2.5s, $timing: linear, $delay: 0s, $iteration: infinite) {
	-webkit-animation: $name $duration $timing $delay $iteration;
	-moz-animation: $name $duration $timing $delay $iteration;
	-o-animation: $name $duration $timing $delay $iteration;
	-ms-animation: $name $duration $timing $delay $iteration;
	animation: $name $duration $timing $delay $iteration;
}
@mixin animateNone {
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	-ms-animation: none;
	animation: none;
}
@mixin linearGradient($values...) {
  background-image: -webkit-linear-gradient($values);
  background-image: -moz-linear-gradient($values);
  background-image: -ms-linear-gradient($values);
  background-image: -o-linear-gradient($values);
}
@mixin linearGradientUrl($gradient, $url) {
  background-image: -webkit-linear-gradient($gradient), $url;
  background-image: -moz-linear-gradient($gradient), $url;
  background-image: -ms-linear-gradient($gradient), $url;
  background-image: -o-linear-gradient($gradient), $url;
}
@mixin transition($property: all, $duration: .3s, $timing: ease-in-out, $delay: 0s) {
	-webkit-transition: $property $duration $timing $delay;
	-moz-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	-ms-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;  
}
@mixin twoLinearGradients($first, $second) {
  background-image: -webkit-linear-gradient($first), -webkit-linear-gradient($second);
  background-image: -moz-linear-gradient($first), -moz-linear-gradient($second);
  background-image: -ms-linear-gradient($first), -ms-linear-gradient($second);
  background-image: -o-linear-gradient($first), -o-linear-gradient($second);
}
@mixin radialGradient($values...) {
  background-image: -webkit-radial-gradient($values);
  background-image: -moz-radial-gradient($values);  
  background-image: -ms-radial-gradient($values);  
  background-image: -o-radial-gradient($values); 	
}
@mixin rotate($values...) {
	-webkit-transform: rotate($values);
	-moz-transform: rotate($values);
	transform: rotate($values);	
}
@mixin origin($values...) {
	-webkit-transform-origin: $values;
	-moz-transform-origin: $values;
	transform-origin: $values;
}
@mixin boxSizing ($value: border-box) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}
@mixin transform($values...) {
	-webkit-transform: $values;
	-moz-transform: $values;
	transform: $values;	
}

@include spin;
#equation {
	position: absolute;
    right: 4%;
    top: 0;
    bottom: 30%;
    margin: auto;
    height: fit-content;
	span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
	}
	.spinner {
		height: 140px;
		margin: 10px;
		margin-right: 12px;
		background-color: #FFF;
		background-position: 0;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #000;
		position: relative;
		@include animate(spin, $duration: 3s, $timing: linear);
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -10px;
			left: -10px;
			width: 120px;
			height: 160px;
			border-radius: 10px;
			background-color: #333;
			@include linearGradient(#666 0%, #333 60%, #666 100%);
			box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.2);
			
		}
	}	
	.drink {
		@include linearGradientUrl((hsla(0,0%,0%,.6) 0%, hsla(0,0%,0%,0) 15%, hsla(0,0%,0%,0) 85%, hsla(0,0%,0%,.6) 100%),url('http://media.balsamiq.com/img/hashtaghot/drinks.jpg'));
		width: 80px;
		background-size: 80px auto;
		background-position: 0, 0 20px;
  &:before {
			width: 100px;
		}
	}
  &.zero .drink {
     background-position: 0, 0 -1580px;
  }
  &.one .drink {
     background-position: 0, 0 -1680px;
  }
  &.two .drink {
     background-position: 0, 0 -1780px;
  }
  &.three .drink {
     background-position: 0, 0 -1880px;
  }
  &.four .drink {
     background-position: 0, 0 -1980px;
  }
  &.five .drink {
     background-position: 0, 0 -2080px;
  }
  &.six .drink {
     background-position: 0, 0 -2180px;
  }
  &.seven .drink {
     background-position: 0, 0 -2280px;
  }
  &.done {
		.spinner {
			@include animateNone;
			@include transition($property: background-position, $duration: 2s, $timing: ease-out);
		}
  }
}

#arm {
	cursor: pointer;
	@include twoLinearGradients((left, hsla(0,0%,0%,.3) 0%, hsla(0,0%,0%,0) 15%, hsla(0,0%,100%,0) 50%, hsla(0,0%,0%,0) 85%, hsla(0,0%,0%,.3)),(top, #333 0%, #666 10%, #999 30%, hsla(0,0%,100%,.8) 60%, #999 70%, #666 90%, #333 100%));
	&:before {
		content: '';
		position: absolute;
		top: -40px;
		left: 16px;
		width: 16px;
		height: 100px;
		border-radius: 8px;
		background-color: #FFC610;
		-webkit-transform: rotate(
	0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(
	15deg);
		background-image: -webkit-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
		background-image: -moz-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
		background-image: -ms-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
		background-image: -o-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
		background-image: linear-gradient(to right, #e27b00 0%, #ffd00a 50%, #ae5e00 100%);
		-webkit-transition: all 0.5s ease-in-out 0s;
		-moz-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
		transition: all 0.5s ease-in-out 0s;
		@media(max-width:4000px) and (min-width:1800px){
			top: -120px;
			left: 30px;
			width: 20px;
			height: 175px;
		}
		@media(max-width: 768px){
			top: -30px;
			left: 10px;
			width: 9px;
			height: 65px;
		}

	}
	&:after {
		content: '';
		position: absolute;
		top: -75px;
		left: 12px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: #CF0200;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-image: -webkit-radial-gradient(50% 40%, closest-corner, rgb(255 255 255 / 40%), #83000047);
		background-image: -moz-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
		background-image: -ms-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
		background-image: -o-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
		-webkit-transition: all 0.5s ease-in-out 0s;
		-moz-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
		transition: all 0.5s ease-in-out 0s;
		background: url(../../../assets/img/game/roulette_item.png);
		background-position: center;
		background-size: contain;
		@media(max-width:4000px) and (min-width:1800px){
			width: 63px;
			height: 63px;
			top: -130px;
    		left: 20px;
		}
		@media(max-width: 768px){
			top: -50px;
			left: 10px;
			width: 30px;
			height: 30px;
		}
	}
}
#arm.clicked {
	&:before {
		top: -20px;
		left: 16px;
		-webkit-transform: rotate3d(100, 10, 0, 180deg);
		-moz-transform: rotate3d(100, 10, 0, 180deg);
		transform: rotate3d(100, 10, 0, 180deg);
		-webkit-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transition: all 0.5s ease-in-out 0s;
		-moz-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
		transition: all 0.5s ease-in-out 0s;

		@media(max-width:4000px) and (min-width:1800px){
			top: -135px;
			left: 16px;
		}
		@media(max-width: 768px){
			top: -25px;
			left: 4px;
		}
	}
	&:after {
		top: 130px;
		left: -20px;
		-webkit-transition: all 0.5s ease-in-out 0s;
		-moz-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
		transition: all 0.5s ease-in-out 0s;

		@media(max-width:4000px) and (min-width:1800px){
			top: 180px;
			left: -45px;
		}

		@media(max-width: 768px){
			top: 100px;
			left: -25px;
		}
	}
}

}

#confetti{
	background: #00000052;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	&.show{
		z-index: 9;
	}
	&.hide{
		z-index: -1;
	}
	canvas{
		width: 100%;
		height: fit-content;
	}
}

