<app-header></app-header>

<div class="container-game">

  <div class="container-game__date"  *ngIf="startPlay == 0">
    <h1 class="Gotham-notbold">¡Gracias por ser parte<br> del team Cubo Rojo!</h1>
    <p class="Gotham-ligth-notbold">¡Te esperamos el Lunes 20 de diciembre<br> para celebrarlo juntos!</p>
  </div>
  <div class="container-game__roulette" *ngIf="startPlay == 1">
    <div class="main">
      <!-- Slots -->
      <div class="numbers">
        <div class="slots"  id="slots_units">
          <div class="number-wrapper"></div>
          <div class="txt-initial Gotham-bold">¿Quién será?</div>
        </div>
      </div>
    </div>
    <div class="button">
      <div id="equation" class="done">
        <div id="shoulder"><div id="arm" (click)="clickGo()"></div></div>
      </div>
    </div>
    <button class="btn-primary Gotham-ligth">Jala la palanca</button>
  </div>
</div>


<div id="confetti" 
[ngClass]="{'show': result === true, 'hide' : result === false }"
>
</div>