<div class="container-rules">

    <h5 class="container-rules__title">
    Reglas del juego 
    </h5>
    
    <ul class="container-rules__description">
        <li>Los regalos deberán ser de 50 soles como mínimo.</li>
        <li>No debes difundir o revelar quién es tu amigo secreto a ningún integrante de Cubo Rojo.</li>
        <li> El compromiso es importante: ¡Recuerda que hay una persona que estará esperando tu regalo! En caso de no participar tienes el compromiso de entregar el regalo.</li>
    </ul>

    <button>Cancel</button>
</div>