<app-preloader [ngClass]="status ? 'show' : 'hide'"></app-preloader>

<app-header></app-header>

<div class="container-form">
    
    <owl-carousel-o [options]="customOptions" class="carousel-questions" #owlElement>

        <ng-template carouselSlide *ngFor="let data of questions; let i = index">
            <mat-list role="list">
                <mat-list-item role="listitem" >
                    <span class="counter Gotham">{{i+1}}.</span>
                    <div class="questions-type" id="step_{{i+1}}">
                        <h3 [innerHtml]="data.name" class="Gotham"></h3>

                        <div class="questions-type__alternative" *ngIf="data.type_id == '1'">
                            <mat-radio-group 
                                    name="alternative_step_{{i+1}}"
                                    id="alternative_step_{{i+1}}">
                                <mat-radio-button *ngFor="let option of data.alt" 
                                        class="Gotham-ligth-notbold" 
                                        [value]="option.id"
                                        (change)="radioChange($event, data)">
                                    {{option.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="questions-type__alternative" *ngIf="data.type_id == '3'">
                            <div id="checbkox_array">
                                <mat-checkbox 
                                *ngFor="let option of data.alt" 
                                [value]="option.id"
                                (change)="onChkChange($event, data, option.id)"
                                class="Gotham-ligth-notbold checkbox" 
                                
                                [disabled]="conditionCheck ? true : null">{{option.name}}</mat-checkbox>
                            </div><!-- (click)="checkboxChange($event, data, option.id)"  -->
                        </div>
                        <div class="questions-type__alternative" *ngIf="(data.type_id == '2' || data.type_id == '4') && i < 13" 
                            style="border-top: none;">
                            <input class="Gotham-ligth-notbold" 
                            type="text"  
                            placeholder="Escribe tu respuesta" 
                            (change)="textChange($event, data.id)">
                        </div>
                        <div class="questions-type__alternative" *ngIf="(data.type_id == '2' || data.type_id == '4') && i == 13" 
                            style="border-top: none;">
                            <input class="Gotham-ligth-notbold" 
                            type="text"  
                            placeholder="Escribe tu respuesta" 
                            (change)="textChange($event, data.id)"
                            (blur)="textChange($event, data.id)">
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </ng-template>
    </owl-carousel-o>
    <div class="btn-owl">
        <a class="owl-prev" (click)="btnPrev(owlElement)"><img src="../../../assets/icons/arrow_carousel_left.png"></a>
        <a class="owl-next" (click)="btnNext(owlElement.slidesOutputData.startPosition)"><img src="../../../assets/icons/arrow_carousel.png"></a>
    </div>
</div>