.container-form{
    height: calc(100vh - 76px); //--87.6vh;
    width: 100%;
    background-size: cover !important;
    background-position: bottom !important;
    box-sizing: border-box;
    text-align: center;
    background-position-y: 46% !important;
    @media(min-width: 1371px){
        background-image: url(../../../assets/img/home/bg-2.png);
    }
    @media(min-width: 769px) and (max-width: 1370px){
        background-image: url(../../../assets/img/home/home_2_1366x768.png);
    }
    @media(max-width: 768px){
        height: calc(100vh - 80px); //--80vh;
        background-image: url(../../../assets/img/game/background_2_1280x720.png);
    }
}
.btn-owl {
    position: absolute;
    bottom: 175px;
    width: 100%;
    z-index: 5000;
    a, img {
        background-size: 43px 43px;
        height: 43px;
        width: 43px;
    }
}
.owl-prev {
    position: absolute;
    left: 17%;
    @media(max-width: 1100px){
        left: 10%;
    }
    @media(max-width: 768px){
        left: 1%;
    }
}
.owl-next {
    position: absolute;
    right: 17%;
    @media(max-width: 1100px){
        right: 10%;
    }
    @media(max-width: 768px){
        right: 1%;
    }
}