@import '../../../sass/variable';

.container-home{
    width: 100%;
    //background-image: url(../../../assets/img/game/background.png);
    background-size: cover !important;
    background-position: top !important;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10%;
    height: calc(100vh - 76px);
    @media(min-width: 1371px){
        background-image: url(../../../assets/img/game/background.png);
    }
    @media(min-width: 769px) and (max-width: 1370px){
        background-image: url(../../../assets/img/game/background_1366x768.png);
    }
    @media(max-width: 768px){
        height: calc(100vh - 80px);
        background-image: url(../../../assets/img/game/background_1280x720.png);
    }
    h1{
        font-size: 45px;
        color: $white;
        text-align: left;
       
    }
    h2{
        font-size: 28px;
        color: $white;
        padding: 25px 0px;
        text-align: left;
    }
    h3{
        font-size: 22px;
        color: $white;
        line-height: 1.2;
        text-align: left;
        padding-bottom: 15px;
    }
    button{
        width: 20%;
        font-size: 17px;
        margin-top: 100px;
        margin-bottom: 25px;
    }
    
}

