
<app-header></app-header>

<div class="container-home" id="container-home">
    <h1 class="Gotham-ligth">¡Hola</h1>
    <h1 class="Gotham-notbold">{{nombres}}!</h1>
    <h2 class="Gotham-ligth-notbold">
        Estás a un click de conocer a <br>  tu 
        <span class="Gotham-notbold"> Amigo secreto.</span>
    </h2>

    <h3>
          
    </h3>
    <button class="btn-primary Gotham-ligth" routerLink="../start">¡Conócelo aquí!</button>
</div>
