@import './sass/reset';
@import './sass/variable';
@import './sass/buttons';
@import './sass/general';
@import './sass/fonts';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


app-login, app-admin{
    padding: 2%;
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100vh;
    box-sizing: border-box;
}

app-home{
    display: flex;
    flex-wrap: wrap;
}
app-header{
    width: 100%;
}

/* Sweet Alert */
.rules{
    .swal2-popup.swal2-modal.swal2-show{
        @media(max-width:3000px) and (min-width:1800px){
            width: 850px !important;
        }
    }
    
    .swal2-actions{
        margin: 0;
        margin-bottom: 20px;
        button{
            margin: 0px 20px;
        }
    }
    .swal2-popup.swal2-modal {
        border-radius: 25px;
        padding: 4% 3%;
        box-sizing: border-box;
        @media(max-width:3000px) and (min-width:1800px){
            padding: 4% 2%;
        }
    }

    .swal2-html-container{
        @media (max-width: 768px){
            margin: 1em 0;
            margin-bottom: 0;   
        }
    }

    .btn-primary{
        font-size: 17px;
        padding: 10px 25px;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 32px;
        }
    }

    .container-rules{
        &__title{
            font-size: 18px;
            text-align: left;
            color: $color-primary;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 40px;
            }
            @media (max-width: 768px){
                font-size: 24px;
                text-align: center;
                font-weight: bold;
                padding: 0px 15%;
                span{
                    font-size: 18px;
                }
            }
        }
        &__description{
            li{
                color: $gray-dark;
                font-size: 19px;
                padding-bottom: 5px;
                @media(max-width:3000px) and (min-width:1800px){
                    font-size: 30px;
                }
            }
        }
        
    }

}

.rules_accept{
    .swal2-popup.swal2-modal.swal2-show{
        @media(max-width:3000px) and (min-width:1800px){
            width: 850px !important;
        }
    }
    

    .swal2-actions{
        position: absolute;
        top: 0;
        right: 3%;
        button{
            padding: 0;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media(max-width:3000px) and (min-width:1800px){
                width: 50px;
                height: 50px;
            }
            svg{
                width: 17px;
                @media(max-width:3000px) and (min-width:1800px){
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
    .swal2-popup.swal2-modal {
        border-radius: 25px;
        padding: 4% 3%;
        box-sizing: border-box;
        @media(max-width:3000px) and (min-width:1800px){
            padding: 4% 2%;
        }
    }
    .swal2-html-container{
        @media (max-width: 768px){
            margin: 1em 0;
        }
    }
    .btn-primary{
        font-size: 17px;
        padding: 10px 25px;
    }

    .container-rules{
        &__title{
            font-size: 18px;
            text-align: left;
            color: $color-primary;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 40px;
            }
            @media (max-width: 768px){
                font-size: 24px;
                text-align: center;
                font-weight: bold;
                padding: 0px 15%;
                span{
                    font-size: 18px;
                }
            }
        }
        &__description{
            li{
                color: $gray-dark;
                font-size: 19px;
                padding-bottom: 5px;
                @media(max-width:3000px) and (min-width:1800px){
                    font-size: 30px;
                }
                @media (max-width: 768px){
                    font-size: 17px;
                }
            }
        }
        
    }

}

.mat-checkbox-inner-container {
    @media (max-width: 768px){
        height: 13px;
        width: 13px;
        margin-right: 4px;
    }
}
mat-checkbox {
    @media (max-width: 768px){
        font-size: 13px;
        width: 35% !important;
    }
}
.mat-checkbox-inner-container{
    @media (max-width: 768px){
        width: 13px !important;
        height: 13px !important;
    }
}

.mat-checkbox-checked svg.mat-checkbox-checkmark {
    @media (max-width: 768px){
        width: 5px !important;
        height: 5px !important;
    }
}

.yourfriend{
    .swal2-popup.swal2-modal.swal2-show{
        @media(max-width:3000px) and (min-width:1800px){
            width: 680px !important;
        }
    }
    
    &.swal2-container.swal2-backdrop-show{
        background-color: transparent !important;
        background: transparent !important;
    }
    .swal2-popup.swal2-modal {
        border-radius: 25px;
        padding: 4% 3%;
        box-sizing: border-box;
    }
    .swal2-cancel {
        position: absolute;
        top: 10px;
        right: 7px;
        background: transparent;
        border: none;
        img{
            width: 25px;
            height: auto;
            @media(max-width:3000px) and (min-width:1800px){
            width: 45px;
            }   
        }
    }

    .btn-primary{
        font-size: 17px;
        padding: 10px 25px;
        background: transparent;
        color: $color-primary;
        text-decoration: underline;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 26px;
        }
        @media(max-width: 768px){
            font-size: 14px;
        }
    }
    .swal2-actions {
        margin: 0;
    }
    

    .container-yourfriend{
        h1{
            font-size: 50px;
            color: #110202;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 85px;
            }
            @media(max-width: 768px){
                font-size: 35px;
            }
        }
        &__title{
            font-size: 18px;
            text-align: center;
            padding-bottom: 10px;
            color: $color-primary;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 30px;
            }
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
    }

}



.yourFriendSecret{
    .swal2-popup.swal2-modal {
        border-radius: 25px;
        padding: 4% 3%;
        box-sizing: border-box;
        @media(max-width:3000px) and (min-width:1800px){
            padding: 3% 2%;
            width: 955px !important;
        }
    }
    .swal2-cancel {
        position: absolute;
        top: 10px;
        right: 7px;
        background: transparent;
        border: none;
        img{
            width: 25px;
            height: auto;
        }
    }
    p{
        strong{
            font-weight: bold;
        }
    }

    .btn-primary{
        font-size: 17px;
        padding: 10px 15px;
        background: $color-primary;
        color: $white;
        width: 30%;
        margin: 0px 20px;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 26px;
            padding: 14px 15px;
            width: 38%;
        }   
    }
    .swal2-actions {
        margin: 0;
    }
    

    .container-yourFriendSecret{
        display: grid;
        grid-template-areas:
            'photo title'
            'photo subtitle'
            'photo description'
            'button button';
        grid-auto-columns: min-content;
        grid-template-columns: 30% 70%;
        @media (max-width: 768px){
            grid-template-areas:
            'photo title'
            'photo subtitle'
            'description description'
            'button button';
        }
        &__photo{
            width: 100%;
            grid-area: photo;
            padding-right: 7%;
            box-sizing: border-box;
            img{
                width: 100%;
                border-radius: 50%;
            }
        }
        h1{
            font-size: 35px;
            color:$color-primary;
            text-align: left;
            grid-area: title;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 45px;
            }
            @media(max-width: 768px){
                font-size: 25px;
            }

        }
        h3{
            font-size: 25px;
            color:$color-primary;
            text-align: left;
            padding-left: 4%;
            grid-area: subtitle;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 32px;
            }
            @media(max-width: 768px){
                font-size: 20px;
                padding: 0;
            }
        }
        p{
            text-align: justify;
            padding-left: 4%;
            font-size: 14px;
            padding-top: 5%;
            grid-area: description;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 20px;
            }
        }
        &__description{
            width: 70%;
            padding-left: 5%;
            box-sizing: border-box;
            grid-area: description;

            h1{
                font-size: 35px;
                color:$color-primary;
                text-align: left;
            }
            h3{
                font-size: 25px;
                color:$color-primary;
                text-align: left;
                padding-left: 4%;
            }
            p{
                font-size: 14px;
                text-align: justify;
                padding-top: 5%;
                padding-left: 4%;
            }
        }
        &__actions{
            margin-top: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            grid-area: button;
            button{
                @media(max-width: 768px){
                    width: 70%;
                    &:nth-child(2){
                        margin-top: 15px;
                    }
                }
                
            }
            @media(max-width: 768px){
                flex-wrap: wrap;
            }
        }
        
    }

}

.yourFriendSecretInfo{
    .swal2-popup.swal2-modal {
        border-radius: 25px;
        padding: 4% 3%;
        box-sizing: border-box;
        @media(max-width:3000px) and (min-width:1800px){
            padding: 3% 2%;
            width: 955px !important;
        }
    }
    .swal2-cancel {
        img{
            width: 25px;
            height: auto;
        }
    }

    .btn-primary{
        font-size: 17px;
        padding: 10px 15px;
        background: $color-primary;
        color: $white;
        width: 30%;
        margin: 0px 20px;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 26px;
            padding: 14px 15px;
            width: 38%;
        }   
        @media(max-width: 768px){
            width: 100%;
            margin: 0 20px;
            margin-bottom: 15px;
        }
    }
    p{
        strong{
            font-weight: bold;
        }
    }
    .swal2-actions {
        margin: 0;
    }
    

    .container-yourFriendSecret{
        display: grid;
        grid-template-areas:
            'photo title'
            'photo subtitle'
            'photo description'
            'button button';
        grid-auto-columns: min-content;
        grid-template-columns: 30% 70%;
        @media (max-width: 768px){
            grid-template-areas:
            'photo title'
            'photo subtitle'
            'description description'
            'button button';
        }
        &__photo{
            width: 100%;
            grid-area: photo;
            padding-right: 7%;
            box-sizing: border-box;
            img{
                width: 100%;
                border-radius: 50%;
            }
        }
        h1{
            font-size: 35px;
            color:$color-primary;
            text-align: left;
            grid-area: title;
            padding-left: 8px;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 45px;
            }
            @media(max-width: 768px){
                padding-left: 0px;
            }

        }
        h3{
            font-size: 25px;
            color:$color-primary;
            text-align: left;
            padding-left: 4%;
            grid-area: subtitle;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 32px;
            }
            @media(max-width: 768px){
                font-size: 20px;
                padding: 0;
            }
        }
        p{
            text-align: justify;
            padding-left: 4%;
            font-size: 14px;
            padding-top: 5%;
            grid-area: description;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 20px;
            }
        }
        &__description{
            width: 70%;
            padding-left: 5%;
            box-sizing: border-box;
            grid-area: description;

            h1{
                font-size: 35px;
                color:$color-primary;
                text-align: left;
            }
            h3{
                font-size: 25px;
                color:$color-primary;
                text-align: left;
                padding-left: 4%;
            }
            p{
                font-size: 14px;
                text-align: justify;
                padding-top: 5%;
                padding-left: 4%;
            }
        }
        &__actions{
            margin-top: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            grid-area: button;
            button{
                @media(max-width: 768px){
                    width: 70%;
                    &:nth-child(2){
                        margin-top: 15px;
                    }
                }
                
            }
            @media(max-width: 768px){
                flex-wrap: wrap;
            }
        }
        
    }

}



ol{
    padding: 20px; 
    list-style-type:decimal;
    li {
        text-align:left;
        margin: 0 10px;
        padding: 0 10px;
    }
}


owl-carousel-o.carousel-questions {
    width: 100%;
    height: 94%;
    display: flex;
    align-items: end;
}

.carousel-questions .owl-carousel {
    background: $white;
    padding: 10px 40px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 55%;
    margin: auto;
    margin-bottom: 20px;
    @media(max-width:3000px) and (min-width:1800px){
        width: 45%;
        padding: 25px 40px;
        margin-bottom: 50px;
    }
    @media(max-width: 768px){
        width: 80%;
        padding: 10px;
    }
    h3{
        font-size: 18px !important;
        color: $color-primary !important;
        text-align: left;
        padding-bottom: 15px;
        width: 87%;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 34px !important;
        }
        @media(max-width: 768px){
            font-size: 13px !important;
        }
        span {
            font-size: 13px;
            font-weight: 600;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 25px !important;
            }
            @media(max-width: 768px){
                font-size: 10px;
            }
        }
    }
}
mat-list-item.mat-list-item.mat-focus-indicator.ng-star-inserted {
    height: fit-content;
}

.questions-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 0%;
    padding-left: 12px;
    @media(max-width:3000px) and (min-width:1800px){
        padding-left: 2%;
    }
    @media(max-width: 768px){
        padding-left: 2%;
    }
    &__alternative{
        input {
            width: 100%;
            /* height: 80px; */
            padding: 10px 15px 50px;
            border-radius: 15px;
            border: 1px solid $gray;
            font-size: 16px;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 26px;
            }
            @media(max-width: 768px){
                font-size: 13px;
            }
            
        }
        
    }
}

mat-radio-group.mat-radio-group {
    display: flex;
    flex-wrap: wrap;
}

.counter{
    font-size: 20px !important;
    color: $color-primary !important;
    position: absolute;
    left: 0;
    top: 0;
    @media(max-width:3000px) and (min-width:1800px){
        font-size: 30px !important;
    }
    @media(max-width: 768px){
        font-size: 14px !important;
    }
}

.mat-list-base .mat-list-item {
    height: fit-content !important;
}

.swal2-container.swal2-center.form-register.swal2-backdrop-show {
    @media(max-width: 768px){
        padding: 12%;
    }
}

.inline {
    border: none;
    border-bottom: 2px solid $color-primary;
    width: 40%;
    font-size: 18px !important;
    color: $color-primary !important;
    @media(max-width: 768px){
        width: 90%;
    }
}




.questions-type__alternative {
    display: flex;
    flex-wrap: wrap;
    padding-right: 12%;
    padding-top: 0px;
    border-top: 1px solid $gray;

    mat-radio-group {
        width: 100%;
    }
    .mat-radio-outer-circle{
        height: 13px;
        width: 13px;
        border: 1px solid $gray-medium;
        @media(max-width:3000px) and (min-width:1800px){
            height: 20px;
            width: 20px;    
        }
    }

    .mat-radio-inner-circle {
        height: 11px;
        left: 1px;
        top: 1px;
        width: 11px;
        @media(max-width:3000px) and (min-width:1800px){
            height: 18px;
            left: 1px;
            top: 1px;
            width: 18px; 
        }
    }
    .mat-radio-label-content {
        font-size: 16px;
        padding: 0;
        padding-left: 5px;
        color: $gray-medium;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 32px;
            padding-left: 16px;
        }
        @media(max-width: 768px){
            font-size: 13px;
        }
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $color-primary;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle{
        background-color: $color-primary;
    }
    .mat-radio-container {
        width: 15px;
        height: 15px;
    }

    
}

/* Alert after to form register*/
.container-register__exit{
    padding: 50px 0px;
    h2{
        font-size: 26px;
        color: $color-primary;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 36px;
            padding-bottom: 10px;
        }
        @media(max-width: 768px){
            font-size: 18px;
        }
    }
    img{
        width: 90px;
        padding: 20px 0px;
        @media(max-width: 768px){
            width: 70px;
        }
    }
    p{
        font-size: 14px;
        color: $color-primary;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 26px;
        }
        @media(max-width: 768px){
            font-size: 12px;
        }   
    }
    
}



.form-register{

    .swal2-popup.swal2-modal.swal2-show {
        @media(max-width:3000px) and (min-width:1800px){
            width: 650px !important;
        }
    }

    .swal2-popup.swal2-modal.swal2-show {
        border-radius: 20px;
    }

    .swal2-actions{
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }

    button.swal2-cancel.swal2-styled {
        background: transparent;
        padding: 10px;
    }

    .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
        background-image: none !important;
    }

    button.swal2-cancel.swal2-styled:focus {
        box-shadow: none !important;
    }

    button{
        img{
            @media(max-width:3000px) and (min-width:1800px){
                width: 45px;
            }
            width: 27px;
        }
    }
}

.session{
    .swal2-popup.swal2-modal.swal2-show{
        @media(max-width:3000px) and (min-width:1800px){
            width: 850px !important;
        }
    }
    

    .swal2-actions{
        button{
            margin: 0px 20px;
            @media(max-width: 768px){
                font-size: 15px;
                width: 100%;
                &.swal2-cancel{
                    margin-top: 15px;
                }
            }
        }
    }
    .swal2-popup.swal2-modal.swal2-show{
        margin-top: -150px !important; 
    }
    .swal2-popup.swal2-modal {
        border-radius: 25px;
        padding: 2% 3%;
        box-sizing: border-box;
        @media(max-width: 768px){
            padding: 10% 3%;
        }
    }
    p{
        font-size: 17px;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 26px;    
        }
        @media(max-width: 768px){
            font-size: 15px;
        }
    }

    .btn-primary{
        font-size: 15px;
        padding: 10px 25px;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 22px;
            padding: 12px 40px;
        }
    }
    .btn-anybg {
        color: $gray-dark;
        border: 1px solid $gray-dark;
        font-size: 15px;
        padding: 10px 25px;
        @media(max-width:3000px) and (min-width:1800px){
            font-size: 22px;
            padding: 12px 40px;
        }
    }


    .container-rules{
        &__title{
            font-size: 18px;
            text-align: left;
            color: $color-primary;
        }
        &__description{
            li{
                color: $gray-dark;
                font-size: 19px;
                padding-bottom: 5px;
            }
        }
        
    }
    .container-session{
        h5{
            text-align: center;
            font-size: 26px;
            font-weight: bold;
            color: $color-primary;
            @media(max-width:3000px) and (min-width:1800px){
                font-size: 36px;    
            }
            @media(max-width: 768px){
                font-size: 22px;
            }
        }
    }
}

/*.slot{
    font-size: 45px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    @media(max-width:4000px) and (min-width:1800px){
        font-size: 70px;
	}

    @media(max-width: 768px){
        font-size: 30px;
    }
}*/

#slots_units{
    .slot{
        font-size: 34px;
        padding: 20px 0px;
        @media(max-width:4000px) and (min-width:1800px){
            font-size: 55px;
        }
        @media(max-width: 768px){
            font-size: 25px;
            padding: 10px 0px;
        }
    }

}

.swal2-container.swal2-center.yourfriend.swal2-backdrop-show {
    @media(max-width: 768px){
        padding: 25px;
    }
}


.owl-dots.ng-star-inserted {
    .owl-dot{
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13),
        &:nth-child(14)
        {
            display: none;
        }
    }
}


.owl-nav.ng-star-inserted {
    .owl-next{
        background: none !important;
        position: absolute;
        right: -70px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        @media(max-width:3000px) and (min-width:1800px){
            right: -95px;
        }
        @media(max-width: 768px){
            right: -17px;
            padding: 0;
        }
        img{
            width: 43px;
            @media(max-width:3000px) and (min-width:1800px){
                width: 60px;
            }
            @media(max-width: 768px){
                width: 20px;
            }
        }
    }
    .owl-prev {
        background: none !important;
        position: absolute;
        left: -70px;
        top: 0;
        bottom: 0;
        margin: auto !important;
        display: flex !important;
        align-items: center;
        @media(max-width:3000px) and (min-width:1800px){
            left: -95px;
        }
        @media(max-width: 768px){
            left: -17px;
            padding: 0;
        }
        img{
            width: 43px;
            @media(max-width:3000px) and (min-width:1800px){
                width: 60px;
            }
            @media(max-width: 768px){
                width: 20px;
            }
        }
    }
}

.mat-radio-label{
    @media(max-width: 768px){
        word-break: break-all !important;
        text-align: left;
        white-space: normal !important;
    }
}

.owl-dots.ng-star-inserted {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    @media(max-width:3000px) and (min-width:1800px){
        bottom: -40px;
    }
}

.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    @media(max-width:3000px) and (min-width:1800px){
        width: 15px;
        height: 15px;
    }
}

.owl-dot.active.ng-star-inserted span {
    background: $white !important;
}

.owl-dot.ng-star-inserted span {
    background: $color-primary !important;
}



.questions-type__alternative mat-radio-button {
    width: 40%;
    padding: 10px 0px;
    @media(max-width: 768px){
        width: 50%;
        padding: 6px 0px;
    }
}


.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    border-radius: 50px !important;
    border: 1px solid $color-primary;
    background: transparent;
}

.mat-checkbox-checked{
    svg.mat-checkbox-checkmark {
        width: 6px;
        height: 6px;
        background: red;
        border-radius: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        path{
            display: none;
        }
    }
    
}

#checbkox_array{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    mat-checkbox {
        width: 25%;
        text-align: left;
        margin: 10px 0px;
        label{
            width: 100%;
            display: block;
        }
        @media(max-width: 768px){
            margin: 5px 0px;
        }
    }
}


mat-checkbox{
    &.hide{
        background: red;
    }
}
.mat-checkbox-frame{
    border-width: 1px !important;
}

.mat-checkbox-frame {
    border-radius: 50px !important;
}


app-preloader{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffffb8;
    z-index: 9;
    transition: .5s ease all;
    &.hide{
        opacity: 0;
        display: none;
    }
    &.show{
        opacity: 1;
    }
}

