@import './variable';

.btn-primary{
    background-color: $color-primary;
    border: none;
    padding: 8px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    @media(max-width:4000px) and (min-width:1800px){
        padding: 16px;
    }
}

.btn-secondary{
    border-radius: 50px;
    padding: 7px 25px;
    font-size: 14px;
    background: $white;
    border: 1px solid $white;
    color: $gray-dark;
    @media(max-width:4000px) and (min-width:1800px){
        padding: 14px 40px;
        font-size: 26px;
    }
}

.btn-anybg{
    border-radius: 50px;
    padding: 7px 25px;
    font-size: 14px;
    background: transparent;
    border: 1px solid $white;
    color: $white;
    @media(max-width:4000px) and (min-width:1800px){
        padding: 14px 40px;
        font-size: 26px;
    }
}