/* Fuentes */
@font-face {
    font-family: 'Gotham-bold';
      src: url('./../assets/fonts/gothambold-webfont.woff2') format('woff2'),
            url('./../assets/fonts/gothambold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}


@font-face {
  font-family: 'Gotham';
    src: url('./../assets/fonts/gothammedium-webfont.woff2') format('woff2'),
          url('./../assets/fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Gotham-ligth';
    src: url('./../assets/fonts/gothamlight-webfont.woff2') format('woff2'),
          url('./../assets/fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  

.Gotham-bold{
    font-family: 'Gotham-bold';
}

.Gotham{
  font-family: 'Gotham';
  font-weight: bold;
}

.Gotham-notbold{
  font-family: 'Gotham';
}

.Gotham-ligth{
  font-family: 'Gotham-ligth';
  font-weight: bold;
}

.Gotham-ligth-notbold{
  font-family: 'Gotham-ligth';
}
