@import '../../../sass/variable';

.container{
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/img/login/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: end;
    justify-content: end;
    -webkit-align-content: end;
    @media(max-width: 768px){
        align-items: center;
        justify-content: center;
        -webkit-align-content: center;
        margin-bottom: 0%;
    }
    &-logo{
        position: absolute;
        left: 2%;
        top: 3%;
        @media(max-width: 768px){
            left: 4%;
        }
        img{
            @media(max-width:4000px) and (min-width:1800px){
                width: 90px;
            }
        }
    }
    &-form{
        width: 42%;
        background: $white;
        border-radius: 25px;
        margin-right: 4%;
        margin-bottom: 4%;
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);

        @media(max-width:4000px) and (min-width:1800px){
            width: 37%;
        }
        @media(max-width: 768px){
            width: 80%;
            margin-right: 0;
            margin-top: 20%;
        }
        &__group{
            width: 85%;
            margin: auto;
            padding: 20px 0px 0px;
            @media(max-width: 768px){
                width: 100%;
                text-align: center;
            }
            .validate{
                color: $gray;
                font-size: 12px;
                padding: 5px 10px 0px;
                @media(max-width:4000px) and (min-width:1800px){
                    font-size: 22px;
                }
            }
        }
        form{
            padding: 6% 5%;
            @media(max-width:4000px) and (min-width:1800px){
                padding: 8% 5%;
            }
            input{
                width: 100%;
                border-radius: 50px;
                padding: 10px 15px;
                box-sizing: border-box;
                font-size: 14px;
                border: 1px solid $gray;
                @media(max-width:4000px) and (min-width:1800px){
                    padding: 20px;
                    font-size: 24px;
                }
                @media(max-width: 768px){
                    padding: 8px 15px;
                    font-size: 16px;
                }
            }
            button{
                width: 100%;
                padding: 0px;
                border: none;
                padding: 8px;
                border-radius: 50px;
                color: $white;
                font-size: 14px;
                margin: auto;
                @media(max-width:4000px) and (min-width:1800px){
                    padding: 16px 15px;
                    font-size: 28px;
                }
                @media(max-width: 768px){
                    width: 80%;
                }
            }
        }
        h5{
            color: $gray-dark;
            text-align: center;
            font-size: 20px;
            @media(max-width:4000px) and (min-width:1800px){
                font-size: 40px;
            }
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
        h3{
            color: $color-primary;
            text-align: center;
            font-size: 21px;
            padding-bottom: 10px;
            @media(max-width:4000px) and (min-width:1800px){
                font-size: 40px;
            }
            @media(max-width: 768px){
                font-size: 20px;
            }
        }
    }
}




