@import '../../../sass/variable';

.back-transparent {
    background: rgba($color: #ffffff, $alpha: 0.8);
    width: 100%;
    height: 100%;
}
.content-admin {
    padding: 50px;
}
.item-card {
    max-width: 400px;
    text-align: left;
}
.mat-card-content {
    min-height: 50px;
}
.container-home{
    width: 100%;
    background-image: url(../../../assets/img/home/bg-2.png);
    background-size: cover !important;
    background-position: top !important;
    /* padding: 5%;
    padding-left: 10%; */
    box-sizing: border-box;
    text-align: center;
    //padding-bottom: 10%;
    //height: 90vh;
    height: calc(100vh - 76px);
    background-position-y: 30% !important;

    
    @media(max-width: 768px){
        //height: 91vh;
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        //padding: 5% 10%;
        >div{
            margin-bottom: 15%;
        }
    }
    h1{
        text-shadow: 2px 2px 17px #000000;
        font-size: 45px;
        color: $white;
        text-align: left;
        @media(max-width:4000px) and (min-width:1800px){
            font-size: 68px;
        }
        @media(max-width: 768px){
            font-size: 36px;
        }
    }
    h2{
        text-shadow: 2px 2px 17px #000000, 2px 2px 17px #000000, 2px 2px 17px #000000, 2px 2px 17px #000000, 2px 2px 17px #000000;
        font-size: 28px;
        color: $white;
        padding: 25px 0px;
        text-align: left;
        @media(max-width:4000px) and (min-width:1800px){
            font-size: 60px;
        }
        @media(max-width: 768px){
            font-size: 26px;
        }
    }
    h3{
        text-shadow: 2px 2px 17px #000000, 2px 2px 17px #000000, 2px 2px 17px #000000;
        font-size: 22px;
        color: $white;
        line-height: 1.2;
        text-align: left;
        padding-bottom: 15px;
        @media(max-width:4000px) and (min-width:1800px){
            font-size: 42px;
        }
        @media(max-width: 768px){
            font-size: 20px;
            br{
                display: none;
            }
        }
    }
    button{
        width: 115px;
        font-size: 17px;
        margin-top: 100px;
        margin-bottom: 25px;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        @media(max-width:4000px) and (min-width:1800px){
            width: auto;
            font-size: 30px;
        }

        @media(max-width: 768px){
            width: 50%;
            bottom: 0;
            position: relative;
            padding: 13px;
            font-size: 18px;
        }
    }
    
}





header{
    background-color: #4D4D4D;
    display: flex;
    justify-content: space-between;
    height: 76px;
    padding: 13px 53px; //-- 1% 4%;
    box-sizing: border-box;
    @media(max-width: 768px){
        height: 80px;
        padding: 15px 30px; //-- 3% 5%;
    }
    .container{
        &-header__logo{
            img{
                width: 50px;
                @media(max-width:4000px) and (min-width:1800px){
                    width: 80px;
                }
            }
        }
        &-header__actions{
            display: flex;
            align-items: center;
            button:nth-child(2){
                margin-left: 20px;
            }
            @media(max-width: 768px){
                transition: .5s ease all;
                display: flex;
                flex-wrap: wrap;
                button{
                    width: 100%;
                    width: 100%;
                    margin: auto !important;
                    &:nth-child(1){
                        background: #4D4D4D;
                        padding: 13px;
                        border: 1px solid #4D4D4D;
                        margin-bottom: 15px !important;
                    }
                    &:nth-child(2){
                        padding: 13px;
                        background: transparent;
                        border: 1px solid #4D4D4D;
                        color: #4D4D4D;
                    }
                }
                &.hide{
                    position: absolute;
                    top: -20%;
                    left: 0;
                    right: 0;
                    background: $white;
                }
                &.show {
                    position: absolute;
                    top: 10%;
                    background: $white;
                    left: 0;
                    right: 0;
                    padding: 6%;
                }
            }
        }

        

        
    }
    
}




/* Menu burger */

#menu-btn{
    display: none !important;
}
.menu-icon{
    .navicon:before {
        top: 6px;
    }
    .navicon:after {
        top: -6px;
      }
} 

.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 0px;
    position: relative;
    user-select: none;
    display: none;
    @media (max-width:768px){
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menu-icon .navicon {
    background: $white;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
}


.menu-icon .navicon:before, .menu-icon .navicon:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

/* Menu Burger */
.menu-icon{
    .navicon:before {
        top: 6px;
    }
    .navicon:after {
        top: -6px;
      }
} 

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate( 45deg);
}

.menu-btn:checked ~ .header-buttons {
    max-height: 240px;
}
