<app-preloader [ngClass]="status ? 'show' : 'hide'"></app-preloader>
<header class="container">
    <div class="container-header__logo">
        <img src="../../../assets/img/header/logo.svg" alt="">
    </div>

    <input class="menu-btn" type="checkbox" id="menu-btn" formControlName="valorCheck">
    <label class="menu-icon" for="menu-btn" (click)="clickEvent()"><span class="navicon"></span></label>


    <div class="container-header__actions" [ngClass]="status ? 'hide' : 'show'">
        <button class="btn-secondary Gotham" (click)="closeSession()">Cerrar Sesión</button>
    </div>
</header>
<div class="container-home" id="container-home">
    <div class="back-transparent">
        <div class="content-admin">
            <mat-card class="item-card">
                <mat-card-header>
                    <mat-card-title>Ruleta de juego</mat-card-title>
                    <mat-card-subtitle>Activación y desactivar el juego de la ruleta</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <button class="btn-primary Gotham-ligth" (click)="updateActivacion()">
                        <span *ngIf="statusPlayRulette">¡Desactivar!</span>
                        <span *ngIf="!statusPlayRulette">¡Activar!</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>