@import '../../../../sass/variable';

header{
    background-color: #4D4D4D;
    display: flex;
    justify-content: space-between;
    height: 76px;
    padding: 13px 53px; //-- 1% 4%;
    box-sizing: border-box;
    @media(max-width: 768px){
        height: 80px;
        padding: 15px 30px; //-- 3% 5%;
    }
    .container{
        &-header__logo{
            img{
                width: 50px;
                @media(max-width:4000px) and (min-width:1800px){
                    width: 80px;
                }
            }
        }
        &-header__actions{
            display: flex;
            align-items: center;
            button:nth-child(2){
                margin-left: 20px;
            }
            @media(max-width: 768px){
                transition: .5s ease all;
                display: flex;
                flex-wrap: wrap;
                button{
                    width: 100%;
                    width: 100%;
                    margin: auto !important;
                    &:nth-child(1){
                        background: #4D4D4D;
                        padding: 13px;
                        border: 1px solid #4D4D4D;
                        margin-bottom: 15px !important;
                    }
                    &:nth-child(2){
                        padding: 13px;
                        background: transparent;
                        border: 1px solid #4D4D4D;
                        color: #4D4D4D;
                    }
                }
                &.hide{
                    position: absolute;
                    top: -20%;
                    left: 0;
                    right: 0;
                    background: $white;
                }
                &.show {
                    position: absolute;
                    top: 10%;
                    background: $white;
                    left: 0;
                    right: 0;
                    padding: 6%;
                }
            }
        }

        

        
    }
    
}




/* Menu burger */

#menu-btn{
    display: none !important;
}
.menu-icon{
    .navicon:before {
        top: 6px;
    }
    .navicon:after {
        top: -6px;
      }
} 

.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 0px;
    position: relative;
    user-select: none;
    display: none;
    @media (max-width:768px){
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menu-icon .navicon {
    background: $white;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
}


.menu-icon .navicon:before, .menu-icon .navicon:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

/* Menu Burger */
.menu-icon{
    .navicon:before {
        top: 6px;
    }
    .navicon:after {
        top: -6px;
      }
} 

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate( 45deg);
}

.menu-btn:checked ~ .header-buttons {
    max-height: 240px;
}
