<header class="container">
    <a href="/home">
        <div class="container-header__logo">
            <img src="../../../../assets/img/header/logo.svg" alt="">
        </div>
    </a>

    <input class="menu-btn" type="checkbox" id="menu-btn" formControlName="valorCheck">
    <label class="menu-icon" for="menu-btn" (click)="clickEvent()"><span class="navicon"></span></label>


    <div class="container-header__actions" [ngClass]="status ? 'hide' : 'show'">
        <button class="btn-anybg Gotham" (click)="openDialog()">Reglas del juego</button>
        <button class="btn-secondary Gotham" (click)="closeSession()">Cerrar Sesión</button>
    </div>
</header>